@font-face
{
    font-family: Schoen;
    src: url('Eskal Font4You.ttf');
}

img
{
    width: 210px;
    height: 150px;
    text-align: center;
    transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

img:not([class='list']):hover
{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.cat-block
{
    margin: 30px;
    width: 210px;
    height: 330px;
    border: 1px solid rgb(235, 231, 215);
    display: inline-block;
    overflow: hidden;
    text-align: center;
}

.cat-name
{
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 5px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    font-family: Schoen;
    font-size: 40px;
    color: rgb(1, 11, 41);
    font-weight: bold;
    letter-spacing: 2px;
    display: block;
}

.cat-name:hover
{
    text-shadow: 2px 2px 5px #88bdf1;
}

.short-info
{
    margin: 10px;
    font-family: Arial, sans-serif;
    color: rgb(97, 96, 96);
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    white-space: nowrap;
}

p.big-info
{
    display: none;
}

.cat-block:hover
{
    box-shadow: 0 0 30px 8px rgb(201, 204, 245);
}

article
{
    text-align: center;
}

input[id='list-of-cats']:checked ~ article section
{
    margin: 5% 25%;
    width: 700px;
    height: 750px;
    border: 1px solid rgb(235, 231, 215);
    display: block;
}

input[id='list-of-cats']:checked ~ article section img
{
    width: 680px;
    height: 485px;
    text-align: center;
}

input[id='list-of-cats']:checked ~ article section a
{
    margin-left: 5px;
    text-align: center;
    text-decoration: none;
    font-family: Schoen;
    font-size: 40px;
    color: rgb(1, 11, 41);
    font-weight: bold;
    letter-spacing: 2px;
    display: block;
}

input[id='list-of-cats']:checked ~ article section p.big-info
{
    display: block;
    margin: 5px 20px;
    font-family: Arial, sans-serif;
    color: rgb(97, 96, 96);
    font-size: 20px;
    text-align: justify;
}

input[id='list-of-cats']:checked ~ article section p.short-info
{
    display: none;
}

[id='list-of-cats']
{
    display: none;
}

.ckeckbox img
{
    width: 40px;
    height: 40px;
}

input[id='list-of-cats']:checked ~ .ckeckbox img
{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

h1
{
    font-family: fantasy;
    font-size: 32px;
}
